#Products-Item{
    width: 95%;
    min-height: 600px;
    margin:10px 0px;
    display: block; 
    .Item{
    min-height: 600px;
    font-family: $font-family;
    width: 100%;
    overflow: hidden;
    position: relative;

        .product-img{
            min-height: 600px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .blur-sec{
            height:100px;
            width:100%;
            position: absolute;
            bottom:15px;
            filter: blur(10px);
            background-color: rgba(5, 5, 5, 0.245);
            
        }
        .upper-info{
            min-height:180px;
            width:100%;
            position: absolute;
            top:20px;
            font-family: $font-family;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            .brand-info{
                height: 150px;
                width:150px;
                margin-left: 50px;
                position: relative;
                .preminum-logo{
                    height: 150px;
                    width:150px;
                    object-fit: cover;
                }
                .brand-logo{
                    position: absolute;
                    top:50px;
                    left:40px;
                    object-fit: cover;
                }
            }
            .fvrt-btn{
                margin-right: 50px;
                height: 65px;
                width: 65px;
                background-color: rgba(207, 2, 2, 0.842);
                font-size: 24px;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                &:hover{
                    box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.245);
                    cursor: pointer;
                }
            }
        }
        .Item-info{
            height:90px;
            width:100%;
            position: absolute;
            bottom:10px;
            font-family: $font-family;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            .des{
                height: 100px;
                margin-left:50px;
                margin-bottom: -20px;
                color:white;
                .Item-name{
                font-size: 36px;
                font-weight: 300;
                font-weight: 500;
                
                }
                .Item-cat{
                    font-size: 24px;
                    letter-spacing: 4px;
                }
            }
            .other-info{
                height: 90px;
                min-width:260px;
                margin-right: 50px;
                display: flex;
                flex-direction:row;
                justify-content: space-between;
                align-items: center;         
                .price-btn{
                    height: 65px;
                    width:180px;
                    background-color: $primary-color;
                    text-align: center;
                    line-height: 65px;
                    font-size: 24px;
                    border-radius: 10px;
                    display: inline-block;
                    color:white;
                    font-family: $font-family;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.245);
                    }
                }
                .add-btn{
                    height: 65px;
                    width: 65px;
                    background-image: linear-gradient(to bottom,rgb(133, 209, 97), rgb(102, 184, 26), rgb(74, 139, 12));;
                    text-align: center;
                    line-height: 65px;
                    
                    font-size: 24px;
                    border-radius: 10px;
                    display: inline-block;
                    color:white;
                    font-family: $font-family;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.245);
                    }
                }

            }
        }
    }

}