$line-grey-color:#d0d0d04a;
$circle-grey-color:#d0d0d08a;

#HeroTitle {
	height: 330px;
	background-color: $primary-color;
	.hero-wraper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		//background-color: black;
		padding-top: 100px;
		h1 {
			@include H1(center, $white);
			font-family: sans-serif;
			font-weight: 500;
			padding: 0px;
			flex-basis: 1;
		}
	}
	.h1-center{
		padding-top: 150px;
	}
	.hero-lines {
		height: 150px;
		//background-color: black;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.hero-line1 {
			height: 0px;
			flex-basis: 39%;
			border: 0.5px $white solid;
		}
		.hero-line2 {
			height: 0px;
			flex-basis: 39%;
			border: .5px $white solid;
		}
		.grey-line{
			border: 0.5px $line-grey-color solid;
		}
	}
	.hero-dots {
		//background-color: green;
		height: 30px;
		width: 82%;
		margin: 0px auto;
		margin-top: -90px;
		display: flex;
		flex-direction:row;
		justify-content:space-between;
		.c-1{
			height: 30px;
			width: 30px;
			border-radius: 100%;
			border:1px $white solid;
			display: flex;
			flex-direction:row;
			justify-content:center;
			align-items:center;
			background-color: $primary-color;
			.dot1{
				height: 20px;
				width: 20px;
				border-radius: 100%;
				background-color: $white;
			}


		}
		.grey-circle{
			border:1px $circle-grey-color solid;
		}
	}
}
