{
	"extends": [ "airbnb", "prettier" ],
	"parser": "babel-eslint",
	"rules": {
		"import/no-named-as-default": 0,
		"jsx-a11y/anchor-is-valid": 0,
		"no-param-reassign": 0,
		"no-case-declarations": 0,
		"react/jsx-indent": 0,
		"react/jsx-indent-props": 0,
		"react/forbid-prop-types": 0
	},
	"env": {
		"browser": true,
		"node": true
	}
}
