// #################################################################
// MODAL STYLING SHOULD BE DONE HERE SO PLZ BE AWARE OF THAT
// #################################################################
// STYLING FOR THE MODAL OF DETAILS IS DONE HERE
.modal-div-here {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
  //  USE Z INDEX TO TURN EVERY THING IN GREY
  // STYLING FOR THE CENTER DIV OF MODAL OF DETAILS IS DONE HERE
  .center-div-for-modal-details {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 20px;
    .center-component-for-modal-details {
      background-color: $white;
      border-radius: 10px;
      padding: 20px 0;
    }
  }
}
.modal-selection-text {
  line-height: 50px;
  width: 500px !important;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  padding: 0 20px;
  .modal-div-radio-buttons {
    width: 50px;
    height: 50px;
  }
}
.upper-portion-modal-div {
  padding: 0 20px;
  line-height: 50px;
  .modal-div-heading {
    text-align: center;
    width: 100%;
  }
  .close-button-for-modal {
    height: 50px;
    width: 50px;
  }
}
