.to-display-two-things {
  display: flex;
  // background-color: blue;
  // flex-direction: row;
  justify-content: space-between;
}
.variation-options-div {
  @include H4(left, $black);
  width: 50%;
  padding: 30px;
  border-style: solid;

  border-width: 1px 0;
  border-color: $line-grey-color;
}
// .variation-options-div:hover {
//   // background: blue;
// }
//  THIS CLASS IS MADE TO DRAW MIDDLE LINE i.e RIGHT BORDER OF THE FIRST DIV BETWEEN VARIATION OPTIONS
.border-line-between-options {
  #border1:nth-child(1) {
    border-style: solid;
    border-width: 1px 1px 1px 0;
  }
}
