// ########## All Layout Mixins Here ##########
@mixin wrapper($w) {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: $w;
}

// ########## All Text Mixins Here ##########
@mixin H1($t-a, $c) {
  font-family: $font-family;
  font-weight: 700;
  font-size: 36px;
  margin: 0px;
  padding-top: 60px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H2($t-a, $c) {
  font-family: $font-family;
  font-weight: 600;
  font-size: 30px;
  margin: 0px;
  padding-top: 60px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H3($t-a, $c) {
  font-family: $font-family;
  font-weight: 500;
  font-size: 24px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H4($t-a, $c) {
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H5($t-a, $c) {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin Subtitle($t-a, $c) {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin P($t-a, $c) {
  font-family: $font-family;
  font-weight: 200;
  font-size: 14px;
  margin: 0px;
  line-height: 22px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

// ########## All Image Mixins Here ##########
@mixin sub-category-item($bil) {
  width: 22em;
  height: 22em;
  background: url($bil) no-repeat center;
  background-size: cover;
  overflow: hidden;
  border-radius: 1em;
}

// ########## All Textfield mixins Here ##########
@mixin textfield($size,$position,$margin) {
  width: $size;
  margin:$margin;
  height: 90px;
  border-radius: 8px;
  border: 1px $textfield-color solid;
  text-indent: 50px;
  font-size: 1.5em;
  display: inline;
  float: $position;
  &::placeholder {
    color: $placeholder-color;
    opacity: 0.8;
    font-weight: normal;
    font-family: sans-serif;
  }
  &::active{
    border: 1px $textfield-color solid;
  }
}


// ########## All Buttons mixins Here ##########
@mixin btn($size,$position,$margin) {
  width: $size;
  margin:$margin;
  height: 90px;
  border-radius: 8px;
  background-color: $primary-color;
  color: $white;
  border:none;
  text-align: center;
  font-size: 1.5em;
  display: inline;
  float: $position;
  line-height: 90px;
  font-family: sans-serif;
  cursor: pointer;
}