// ########## All Layout Mixins Here ##########
@mixin wrapper($w) {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: $w;
}

// ########## All Text Mixins Here ##########
@mixin H1($t-a, $c) {
  font-family: $font-family;
  font-weight: 700;
  font-size: 36px;
  margin: 0px;
  padding-top: 60px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H2($t-a, $c) {
  font-family: $font-family;
  font-weight: 600;
  font-size: 30px;
  margin: 0px;
  padding-top: 60px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H3($t-a, $c) {
  font-family: $font-family;
  font-weight: 500;
  font-size: 24px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H4($t-a, $c) {
  font-family: $font-family;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin H5($t-a, $c) {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin Subtitle($t-a, $c) {
  font-family: $font-family;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
  padding-top: 0px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

@mixin P($t-a, $c) {
  font-family: $font-family;
  font-weight: 200;
  font-size: 14px;
  margin: 0px;
  line-height: 22px;
  text-align: $t-a;
  color: $c;
  letter-spacing: 0.05em;
}

// ########## All Image Mixins Here ##########
@mixin sub-category-item($bil) {
  width: 22em;
  height: 22em;
  background: url($bil) no-repeat center;
  background-size: cover;
  overflow: hidden;
  border-radius: 1em;
}
