// ########## All Layout Variables Here ##########
$wrapper-width: 80%;

// ########## All Text Variables Here ##########
$font-family: "Poppins";

// ########## All Images Variables Here ##########

// ########## All Colors Variables Here ##########
$primary-color: #047df7;
$secondary-color: #8d8d8d;
$accent-color: #f5de46;
$white: #ffffff;
$black: #000000;
$background-image-color: #e8eced;
