#Payment {
	.p-form {
		margin:60px 0px;
		display: flex;
		flex-direction:row;
		justify-content:center;
		
		form {
			width: 90%;
			min-height: 400px;
			display: flex;
			flex-direction:row;
			justify-content:space-between;
			align-content:flex-start;
			flex-wrap:wrap;
		}
	}
}
