$des-color: #404040;

#confirmation {
	.confirm-icon {
		height: 250px;
		width: 100%;
		//border: 1px grey solid;
		padding-top: 100px;
		display: block;
		.circle-icon {
			height: 150px;
			width: 150px;
			border: 5px $primary-color solid;
			border-radius: 100%;
			margin: 0px auto;
			.tick-icon {
				height: 30px;
				width: 50%;
				border-left: 5px $primary-color solid;
				border-bottom: 5px $primary-color solid;
				margin: 0px auto;
				margin-top: 50px;
				transform: rotate(-45deg);
			}
		}
	}
	.confirm-des {
		width: 100%;
		margin-top: 70px;
		h1 {
			@include H1(center, $des-color);
			font-weight: 500;
			width: 60%;
			margin: 0px auto;
			//border:1px grey solid;
			padding: 0px;
		}
	}
	.confirm-detail {
		width: 100%;
		margin: 70px 0px 150px 0px;

		p {
			@include H3(center, $secondary-color);
			width: 80%;
			margin: 0px auto;
			font-size: 1.2em;
			//border:1px grey solid;
		}
	}
}
