

#Delivery {
	.d-title {
		width: 100%;
		height: 500px;
		background-color: $primary-color;
		h1 {
			@include H1(center, $white);
			font-weight: 500;
			padding-top: 0px;
			margin: 0px auto;
			line-height: 500px;
		}
	}
	.d-form {
		width: 100%;
		padding: 30px 0px;
		form{
			width: 90%;
			margin: 0px auto;
			//border:2px grey solid;
		}
		.d-tf1 {
			@include textfield(100%,left,15px 0px);
		}
		.d-tf2 {
			@include textfield(48%,left,15px 0px);

		}
		.d-tf3 {
			@include textfield(48%,right,15px 0px);

		}
		.d-btn{
			@include btn(100%,left,15px 0px);
			.btn-circle{
				height: 60px;
				width: 60px;
				border-radius: 100%;
				background-color: $white;
				opacity: .2;
				float: right;
				margin: 15px 15px 15px 15px;
				color:$black;
				font-size: .8em;
				line-height: 60px;

			}
			.btn-glyphicon{
				position: absolute;
				display: inline;
				
			}
		}
	}
}
