#categories {
  padding: 1em;
  .category-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .left-arrow {
      flex: 0 1 10%;
    }
    .right-arrow {
      flex: 0 1 10%;
      transform: rotateY(180deg);
    }
    .category-items-container {
      flex: 0 1 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      overflow: hidden;
    }
  }
}
