#categories {
  padding: 1%;
  .category-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .left-arrow {
    }
    .right-arrow {
      transform: rotateY(180deg);
    }
  }
}
