.footer-menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 33%;
  .footer-menu {
    @include Subtitle(left, $white);
    text-transform: uppercase;
    padding-top: 2em;
    padding-bottom: 1em;
  }
}
