#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5%;
  .search-icon {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .favourite-icon {
    @extend .search-icon;
    padding-left: 2%;
  }
  .logo {
    @extend .search-icon;
    flex: 1 1 auto;
  }
  .cart-icon {
    .badge-circle {
      width: 2em;
      height: 2em;
      background-color: $primary-color;
      border-radius: 1em;
      color: $accent-color;
      position: relative;
      top: -2em;
      left: 0.5em;
      font-family: $font-family;
      box-shadow: 0px 2px 4px $black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @extend .search-icon;
    padding-right: 2%;
  }
  .res-menu-icon {
    @extend .search-icon;
  }
}
